
.vs/AssaultCubeHook/v17/Browse.VC.db
.vs/AssaultCubeHook/v17/Browse.VC.db-shm
.vs/AssaultCubeHook/v17/.suo
.vs/AssaultCubeHook/v17/Browse.VC.opendb
.vs/AssaultCubeHook/v17/Browse.VC.db-wal
.vs/AssaultCubeHook/v17/ipch/46b21ce35c4e5c81.ipch
*.ipch
*.ilk
*.log
*.lastbuildstate
*.tlog
*.obj
*.tlog
